body{
    margin: 0;
    padding: 0;
}
/* Для изменения размеров таблицы, столбцов и строк используются атрибуты width и height */
table {
    width: 25%;
    margin: 30px auto;
    border: 3px ridge rgba(39, 152, 197, 0.4);
    /* Чтобы изменить расстояние между ячейками таблицы, используйте свойство CSS border-spacing для элемента таблицы */
    border-spacing: 5px;
    border-radius: 10px;
    text-align: center;
}

caption {
    padding: 5px;
    /* Расположение имени таблицы top, bottom */
    caption-side: top;
    font-size: 20px;
    font-weight: 900;
    color: black;
}


/* Чтобы придать стиль каждому следующему элементу строки таблицы, используется селектор 
    :nth-child(even) для четных чисел и :nth-child(odd) для нечетных. */

    /* Можно объединить стилистику из двух приведенных выше примеров, и у вас будут полосы в каждой второй строке и каждом втором столбце.
       Если использовать транспарентный цвет, то получитися эффект наложения. */

.table3 tr:nth-child(even) {
    background-color: rgba(39, 152, 197, 0.4);
}

.table3 th:nth-child(even),
.table3 td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

/* Если задать границы только внизу каждой строки таблицы, получится таблица с горизонтальными разделителями.
Добавьте свойство border-bottom ко всем элементам tr, чтобы получить горизонтальные разделители: */
.table3 tr{
    border: none;
    border-bottom: 1px solid #000;
}

/* Используйте селектор :hover для tr, чтобы выделять строки таблицы при наведении курсора мыши. */
.table3 tr:hover{
    background-color: #933fb4;
    cursor: pointer;
}

.tr-1 {
    height: 55px;
}

.tr-2 {
    height: 45px;
}

.tr-3 {
    height: 30px;
}

/* Атрибуты стилей границ: dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden  */
th {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

/* .th-1{
    width: 70%;
} */

/* .th-2{
    width: 30%;
} */

td {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

colgroup col {
    background-color: yellow;
}

/* Чтобы избежать двойных границ  нужно установить свойство CSS border-collapse на collapse. */
table,
th,
td {
    border-collapse: separate;
}